@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #fffdf5;
    font-family: 'Averta','Poppins', sans-serif;;
    position: relative;
}


/* I'm New Here Page */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    position: sticky;
    top: 0;
    background-color: #fffdf8;
    z-index: 1;
    
}



a {
    text-decoration: none;
    color: gray;
}


nav {
    margin-left: 15%;
}

.nav-items {
    display: flex;
}

.nav-links {
    list-style: none;
    font-size: 1.2rem;
    padding-right: 30px;
}

.enroll-thumbs {
    display: flex;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    
}

.section1-text {
    padding: 2% 5px 2%;
    line-height: 1.2;

}

.btn-en {
    min-width: 30%;
    border-radius: 30px;
    border: 1px solid rgb(240, 58, 58);
    padding: 2%;
    background-color: rgb(240, 58, 58);
    color: whitesmoke;
    font-size: 1.1rem;
    font-weight: 600;
}

.enroll-thumbs {
        position: relative;
        width: 25%;
      }
      
      /* Make the image responsive */
      .enroll-thumbs img {
        width: 25%;
        height: auto;
        z-index: 1;

      }
      
      /* Style the button and place it in the middle of the container/image */
      .enroll-thumbs .btn {
        position: absolute;
        top: 50%;
        left: 39%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgb(240, 58, 58);
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
      }
      


.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 5%;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 22% 1% 3%;
}

.section3-text {
    padding: 2% 5% 1%;
}

.card-component {
    margin: 3% 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cardd {

    width: 30%;
    position: relative;
    height: auto;
    background-color: white;
    color: #000;
    padding: 4%;
    border-radius: 20px;
    text-align: left;
    font-weight: 400;
    margin-top: 2%;
    
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 10px 0 rgb(255, 236, 236);;
        transition: 0.3s;
      }
      
      /* On mouse-over, add a deeper shadow */
      .cardd:hover {
        margin-top: -1%;
      }
      
    
.cardd img {
    width: 37%;
    position: absolute;
    top: -0.5px
}




















/* Landing Page */

h3, h2 {
    padding: 4%;
}


.landsection1 {
    background-color: rgb(253, 244, 244);
    padding-bottom: 250px;

}

.landsection1 > p {
    font-size: 1rem; 
    padding: 1% 30%;
    margin: auto;
}

.landbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landbtn > button > a {
    text-decoration: none;
    color: white;
}

.landbtn1, .landbtn2 {
    padding: 10px;
    min-width: 100px;
    margin-left: 2%;
    margin-top: 6%;
}

.landbtn1 {
    background-color: var(--red);
    border: orangered;
    color: white;
    cursor: pointer;
    border: 1px solid var(--red);
}

.landbtn2 {
    border: 1px solid var(--red);
    cursor: pointer;
    color: var(--red);
}

.landsection2 {
    margin-top: 13%;
}

.landsection2 > h4 {
    font-size: 1.5rem; 
    padding:1% 36%;
    line-height: 1.5;
}

.card {
    text-align: left;
    background-color: rgb(253, 244, 244);
    width: 40%;
    height: 15%;
    padding: 4%;
    margin-top: 7%;
    margin-left: 2%;
}

.card-sectionlanding {
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
}


.landsection3 {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
   
}

.contact {
    text-align: left;
}

.landfooter {
    padding-bottom: 5%;
}


@media (max-width: 1028px) {

    .landsection1 > p {
        padding: 1% 5%
    }

    .landbtn1, .landbtn2 {
        display: block;
        text-align: center;
    }

    .landbtn {
        display: flex;
        flex-direction: column;
    }

    .landsection2 {
        margin-top: 6%;
    }

    .landsection2 > h4 {
        padding:1% 10%;
    }


    .card {
        width: 80%;
    }

    .card-sectionlanding {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .landsection3 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .contact {
        text-align: center;
    }

    .landsection3 > h2 {
        margin-top: 35%;
    }

    .landsection3 > .contact, .landsection3 h4 { 
        margin-top: 7%;
    }

    .landfooter {
        padding-bottom: 27%;
    }

    .footer-section1 {
        flex-direction: column;
    }

}
















/* TALENT PAGE */

:root {
    --red:  rgb(224, 58, 58);;
}

.talent-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 18px;
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
}

.talent-header > nav > ul {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}

.talent-header > .navbtn > a {
    text-decoration: none;
    color: white;
}

.navbtn {
    margin-right: 10%;
    background-color: var(--red);
    border: 1px solid var(--red);
}


.talent-header > img {
    margin-left: 8%;
}

.talent-header > nav > ul > li {
    list-style: none;
    padding-left: 60px;
}

.talent-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12% 10px;
}

.talent-section1-text {
    text-align: left;
    margin-left: 7%;
    margin-top: 2%;
}

.talent-section1-text h1 {
    font-size: 2.5rem;
    margin-top: 50px;
}


.talent-section1-text > img {
    position: absolute;
    right: 55%;
    width: 10%;
}


.talent-section1-text p {
    font-size: 1.5rem;
    margin-top: 50px;
    line-height: 1;
    color: gray;

}

.talent-section1-btn {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin-top: 5%;
}

.talentbtn1 {
    margin: 2% 0px;
    background-color: var(--red);
    color: white;
    border: 1px solid var(--red);
}

.talentbtn2 {
    margin: 2% 2%;
    background-color: gray;
    color: white;
    border: 1px solid gray;
}

.talent-section-img img {
    width: 60%;
    margin-left: 14%;
}

.btn {
    min-width: 160px;
    padding: 11px;
    border-radius: 0 0 12px 0;
    font-size: 1.1rem;
}

.talent-section2 {
    margin-top: 10%;
    background-color: rgb(255, 240, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.talent-section2-text {
    margin: 7% 4% 7% 7%;
    text-align: left;
}

.talent-section2 > .talent-section2-text > h1 {
    font-size: 2.5rem;
    padding-top: 10px;
}

.talent-section2-text > h4 {
    padding: 10px 2px 5px 5px;
}

.talent-section2-text > p{
    padding: 8px 2px 5px 5px;
}

 .flags {
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}

.flags > img {
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 13%;
}

.talent-section2-img {
    margin-top: 4%;
}

.talent-section2-img > img {
    width: 55%;
}

.talent-section3 {
    background-color: white;
    margin-top: 10%;
    padding: 20px 10px;
    text-align: left;
    margin: 7%;
} 

.talent-section3 > .talent-section3-text1 > h1 {
    padding-bottom: 2%;
    font-size: 2.5rem;
}

.talent-section3 > .talent-section3-text2 > h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2.5rem;
}

.talent-section3 > .talent-section3-text1 > .sm-card-section> img {
    position: absolute;
    width: 20%;
    left: 70%;
}

.sm-card {
    width: max-content;
    padding: 15px;
    margin: 10px;
    position: relative;
    height: auto;
    background-color: white;
    color:gray;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 10px 0 rgb(228, 228, 228);;
        transition: 0.3s;
      }
      
      /* On mouse-over, add a deeper shadow */
      .sm-card:hover {
        margin-top: -0.5%;
      }

.sm-card-section {
    display: flex;
    justify-content: start;
    padding-bottom: 10px;
}

.talent-section4 {
    margin: 7% 0 0 ;
    background-color: rgb(255, 246, 225);
    padding: 70px;
}

.talent-section4 > h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2.5rem;
}

.md-card-section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
}

.md-card-section1 > .md-card > .handimg {
    margin-top: 4%;
}

.md-card-section2 {
    display: flex;
    align-items: center;
    margin: 4% 9% 1% 19%; 
}

.md-card {
    width: 40%;
    margin-left: 10px;
    color: #000;
    height: auto;
    background-color: white;
    padding: 40px;
    border-radius: 0 0 10px 0;
}

.md-card:hover {
    background-color: #000;
    color: white;
}

.talent-section4-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.talent-socials > img {
    width: 10%;
}

.talent-footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
}

.talent-footer-section1, .talent-footer-section2 {
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.talent-footer-section2 > .email {
    margin-right: 8%;
}



@media (max-width: 1028px) {
    .talent-header > nav > ul {
        display: none;
    }
    
    .navbtn {
        margin-right: 2%;
    }

    .btn {
        padding: 7px;
    }

    .talent-section1 {
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .talent-section1-text {
        text-align: center;
    }

    .talent-section1-btn {
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    .talent-section1-text > img {
        position: absolute;
        right: 30%;
        width: 20%;
    }
    

    .talent-section-img img {
        width: 90%;
        margin: 4%;
    }

    .talent-section2 {
        flex-direction: column;
    }

    .talent-section2 > .talent-section2-text > h1 {
        font-size: 2rem;
        line-height: 1;
    }

    .flags > img {
        width: 15%;
    }

    .talent-section2-img > img {
        margin-top: 2px;
        width: 90%;
    }

    .sm-card-section {
        flex-wrap: wrap;
        margin-top: 3%;
    }

    .sm-card {
        font-size: 0.9rem;
    }

    .talent-section3 > .talent-section3-text2 > h1 {
        padding-left: 4%;
    }

    .talent-section3 > .talent-section3-text1 > h1 {
        line-height: 1;
        
    }

    .md-card {
        width: 95%;
        margin: 3%;
    }

    .md-card-section1, .md-card-section2 {
        flex-direction: column;
    }

    .md-card-section2 {
        margin: 2%; 
    }

    .talent-footer-section1, .talent-footer-section2 {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .talent-footer > .talent-footer-section1 > img {
        width: 40%;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
        margin-top: 7%;
        margin-bottom: 6%;
    }

    .talent-footer > .talent-footer-section1 > .zurilogo {
        width: 10%;
    }
}